body {
  font-family: sans-serif;
  background-color: #fafafa;
  text-align: center;
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

h1 {
  margin-top: 60px;
  margin-bottom: 20px;
  color: #8b004c;
}

.candidates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 30px;
}

.candidates label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.candidates input[type="radio"] {
  margin-top: 10px;
}

.nombre {
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
  transition: all 0.3s ease;
}

.candidates img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 3px solid transparent;
  transition: border-color 0.3s;
}

/* 🔥 EFECTO CUANDO SE SELECCIONA */
.candidates input[type="radio"]:checked + img {
  border: 3px solid #8b004c;
  transform: scale(1.05);
}

.candidates input[type="radio"]:checked + img + .nombre {
  color: #8b004c;
  font-weight: 700;
}

button {
  background-color: #8b004c;
  color: white;
  padding: 20px 45px;
  border: none;
  border-radius: 12px;
  font-size: 42px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 6px 20px rgba(139, 0, 76, 0.4);
  transition: all 0.2s ease;
  width: 80%;
  max-width: 400px;
  margin-top: 40px;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(139, 0, 76, 0.5);
}

.sponsors-section {
    margin-top: 60px;
    padding: 40px 20px;
    text-align: center;
}

.titulo-sponsors {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
}

.piramide-sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.fila {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.sponsor img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.sponsor img:hover {
    transform: scale(1.05);
}

/* Tamaños */
.sponsor-grande {
    width: 320px;
}

.sponsor-mediano {
    width: 200px;
}

.sponsor-pequeno {
    width: 140px;
}











